@media all and (min-width: 360px) {
    .Login3 {
      padding: 1px 1px 1px 1px;
    }

    .Login1 {
      padding: 2px 1px 2px 10px;
    }

    .Login2 {
      padding: 1px 10x 2px 10px;
      margin: 2px auto;
    }
  
    .Loginform {
      width: 90%;
      margin: 2px auto;
      max-height: 640px;
    }
    .fa-google-plus {
      color: red;
      padding: 1px 1px 1px 50px;
    }

    .fa-facebook{
      color: blue;
      padding: 1px 1px 1px 50px;
    }
    .font12{
      width: 90%;
      font-size: 12px;
      margin: 5px auto;
    }

    .logobox{
      width: 340px;
      max-width: 375px;
      height: 250px;
      margin: 5px auto;
    }
    .form-control{
      margin: 5 auto;
    }

    .btn2{
      width: 100%;
      margin: 20px auto;
    }
  }