@media all and (min-width: 375px) {
    .Login {
      padding: 1px 1px 1px 1px;
    }

    .Login1 {
      padding: 1px 1px 2px 10px;
      text-align: 'center';
    }

    .Login2 {
      padding: 1px 10x 2px 10px;
      margin-bottom: auto;
      text-align: 'top';
    }
  
    .Login form {
      margin: 0 0 0 0 !important;
      max-width: 340px;
      max-height: 780px;
    }
    .fa-google-plus {
      color: red;
      text-align: 'center';
      padding: 1px 1px 1px 50px;
    }

    .fa-facebook{
      color: blue;
      text-align: 'center';
      padding: 1px 1px 1px 50px;
    }
    .font12{
      font-size: 12px;
      text-align: top;
    }

  }